<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIPanelSchedules.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D0DC0D1887CF3C4DE8B2DAB63F81CB58A7741CCD</string>
				<key>dateExpires</key>
				<string>8/26/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D0DC0D1887CF3C4DE8B2DAB63F81CB58A7741CCD</string>
						<key>dateExpires</key>
						<string>8/26/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S56RQ3ARXC</string>
						<key>name</key>
						<string>Kenneth Riendeau</string>
					</dict>
					<key>versionNumber</key>
					<string>12.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D0DC0D1887CF3C4DE8B2DAB63F81CB58A7741CCD</string>
						<key>dateExpires</key>
						<string>8/26/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S56RQ3ARXC</string>
						<key>name</key>
						<string>Kenneth Riendeau</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240722.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D0DC0D1887CF3C4DE8B2DAB63F81CB58A7741CCD</string>
						<key>dateExpires</key>
						<string>8/26/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S56RQ3ARXC</string>
						<key>name</key>
						<string>Kenneth Riendeau</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D0DC0D1887CF3C4DE8B2DAB63F81CB58A7741CCD</string>
						<key>dateExpires</key>
						<string>8/26/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S56RQ3ARXC</string>
						<key>name</key>
						<string>Kenneth Riendeau</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D0DC0D1887CF3C4DE8B2DAB63F81CB58A7741CCD</string>
						<key>dateExpires</key>
						<string>8/26/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>S56RQ3ARXC</string>
						<key>name</key>
						<string>Kenneth Riendeau</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.37</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>S56RQ3ARXC.com.KennethRiendeau.AIPanelSchedules</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>S56RQ3ARXC</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AIPanelSchedules.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>85801503-de3e-4960-9baf-a4d1dba09572</string>
				<key>dateExpires</key>
				<string>9/17/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.KennethRiendeau.AIPanelSchedules</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>S56RQ3ARXC</string>
				<key>name</key>
				<string>Kenneth Riendeau</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
